<p>Restart Zigbee2MQTT instance</p>

<p>Sends restart request to via MQTT on any input</p>

<h3>References</h3>
<ul>
  <li>
    <a
      href="https://www.zigbee2mqtt.io/information/mqtt_topics_and_message_structure.html#zigbee2mqttbridgerequestrestart"
    >
      Zigbee2MQTT docs
    </a>
    - <code>explains the restart request</code>
  </li>
</ul>
