<div class="control-group">
  <label class="control-label" for="node-input-topic"><i class="fa fa-cube"></i> Device</label>
  <div class="controls">
    <input id="node-input-topic" type="text" placeholder="Enter device 'friendly_name'" />
  </div>
</div>
