<div class="control-group">
  <label class="control-label" for="node-input-topic-selector"><i class="fa fa-tag"></i> Topic</label>
  <div class="controls">
    <select id="node-input-topic-selector" disabled="disabled">
      <option selected="selected">Loading device list...</option>
    </select>
  </div>
  <input type="hidden" id="node-input-topic" />
</div>
