<div class="control-group">
  <label class="control-label" for="node-input-initial"><i class="fa fa-filter"></i> Options</label>
  <div class="controls">
    <label class="checkbox">
      <input type="checkbox" id="node-input-initial" />
      include initial (retained) value
    </label>
  </div>
</div>
<%- include('form-row-broker') %> <%- include('form-row-name') %>
