<div class="form-row">
  <label for="node-input-initial"><i class="fa fa-filter"></i> Options</label>
  <label for="node-input-initial" style="width: 70%">
    <input type="checkbox" id="node-input-initial" style="display: inline-block; width: 22px; vertical-align: top" />
    include initial (retained) value
  </label>
</div>
<%- include('form-row-broker') %> <%- include('form-row-name') %>
