<script type="text/html" data-template-name="z2m-bridge-restart">
  <%- include('../../templates/form-row-broker') %> <%- include('../../templates/form-row-name') %>
</script>

<script type="text/html" data-help-name="z2m-bridge-restart">
  <p>Restart Zigbee2MQTT instance</p>

  <p>Sends restart request to via MQTT on any input</p>

  <h3>References</h3>
  <ul>
    <li>
      <a
        href="https://www.zigbee2mqtt.io/information/mqtt_topics_and_message_structure.html#zigbee2mqttbridgerequestrestart"
      >
        Zigbee2MQTT docs
      </a>
      - <code>explains the restart request</code>
    </li>
  </ul>
</script>
