<div class="form-row">
  <label for="node-input-topic"><i class="fa fa-tag"></i> Topic</label>
  <input type="text" id="node-input-topic" placeholder="Topic" />
</div>
<%- include('form-row-broker') %> <%- include('form-row-name') %>
