<p>Update zigbee2mqtt device state</p>

<p>
  Read more at
  <a href="https://www.zigbee2mqtt.io/information/mqtt_topics_and_message_structure.html#zigbee2mqttfriendly_nameset">
    Zigbee2MQTT docs
  </a>
</p>
<p></p>

<h3>Inputs</h3>
<dl class="message-properties">
  <dt>payload <span class="property-type">string</span></dt>
  <dd>Zigbee2MQTT state object</dd>
</dl>
