<div class="form-row">
  <label for="node-input-topic"><i class="fa fa-tag"></i> Topic</label>
  <input type="text" id="node-input-topic" placeholder="Topic" />
</div>
<div class="form-row">
  <label for="node-input-property" style="vertical-align: top"><i class="fa fa-tag"></i> Property</label>
  <div style="display: inline-block; width: 70%">
    <input type="text" id="node-input-property" style="width: 100%" placeholder="Leave empty to get full JSON state" />
  </div>
</div>
<div class="form-row">
  <label style="vertical-align: top"><i class="fa fa-filter"></i> Options</label>
  <div style="display: inline-block; width: 70%">
    <label for="node-input-onlyWhenChanged" style="width: 100%; margin-bottom: 10px">
      <input
        type="checkbox"
        id="node-input-onlyWhenChanged"
        style="display: inline-block; width: 22px; vertical-align: top"
      />
      only when changed
    </label>
    <label for="node-input-sendInitialValue" style="width: 100%; margin-bottom: 10px">
      <input
        type="checkbox"
        id="node-input-sendInitialValue"
        style="display: inline-block; width: 22px; vertical-align: top"
      />
      send initial value
    </label>
    <div></div>
  </div>
</div>
<%- include('form-row-broker') %> <%- include('form-row-name') %>
