<script type="text/html" data-template-name="<%= node.type %>">
  <div class="node-red-contrib-z2m-edit-container"><%- include('views/edit') %></div>
</script>

<script type="text/html" data-help-name="<%= node.type %>">
  <%- include('views/help') %>
</script>
