<div class="control-group">
  <label class="control-label" for="node-input-broker"><i class="fa fa-globe"></i> Z2M Broker</label>
  <div class="controls config-controls">
    <input type="text" id="node-input-broker" />
  </div>
</div>
